body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.flexible-container {
  display: flex;
  margin-bottom: 120px;
}
.half-width {
  width: 40%;
  margin-left: 7%;
}
.half-width img {
  width: 100%;
}
span {
  color: orange;
}
.half-width p {
  color: dimgray;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.anchor-button {
  text-decoration: none;
  background-image: linear-gradient(tomato, orange);
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 150px;
}
.experience-item {
  width: 40%;
  padding: 20px 0 7% 30px;
  box-shadow: 25px 30px 50px gray;
}
#full-stack {
  border-left: 7px solid tomato;
  border-radius: 10px;
}
#baby-stack {
  border-left: 7px solid blue;
  border-radius: 10px;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: 80%;
}
footer p {
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
    text-align: center;
  }
  p {
    font-size: 0.8rem;
    text-align: justify;
  }
  .anchor-button {
    display: flex;
    justify-content: center;
  }
  .flexible-container {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .half-width {
    width: 85%;
  }
  .experience-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 50px;
  }
  .experience-item {
    width: 80%;
  }
  .experience-area h1 {
    text-align: center;
  }
}
